<div class = "container">

	<h1>About</h1> <br><br>
	<p class="aboutsection">If you search used and cheap bikes with a tested quality or if you want to sell your bike - You're right here! We are an online store for used bikes, but we also have a local store, where you can come in and search your perfect bike. We want everybody to move forward in Berlin. The best and environmental-friendly way to do it is by bike. So we sell used bikes for fair prices and for the environment.</p><br><br>

	<img alt="bikestore" src="/assets/bikestore" class="img-responsive bikestore" />

</div>