<div class= "container contactDetails">

	<h1>Contact</h1>
	<p>We are happy to hear from you!<br></p>
	<p>3B - Berlin Best Bikes<br>
	Berliner Allee 123<br>
	10115 Berlin<br>
	0170 1234567899<br>
	3b@bmail.com</p>

</div>

