
<div class = "container">
	<h1>Welcome to Berlin Best Bikes</h1>
	<p>Your source for used bikes in Berlin</p>

	<%= image_tag("bike.jpg", class: "img-responsive my-image", width: '500', data: { title: 'Bike' } ) %>

</div>

<%# test_variable = 42 %>
<%#= test_variable - 2 %>


