<div class="container">

<%= link_to 'Back to Products', products_path %>

<h1>Thank you for your purchase!</h1>
<h1>Your pack will be on its way soon.</h1>

<%= image_tag('pack.jpg', class: "img-responsive" ) %>


</div>