// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Table */

td, th {
    padding: 25px;
}

/* Specific Rules */

.newProduct {
    padding-top: 40px;
}

.contentProducts {
    text-align: center;
}

/* Buttons */

.btn-default {
    color: #fff;
    background-color: #4dde44;
    width: 150px;
    height: 35px;
    border-radius: 5px;
}

.btn-default.focus, 
.btn-default:focus,
.btn-default:hover {
    color: #fff;
    background-color: #1f8019;
}


input[type="button" i], 
input[type="submit" i], 
input[type="reset" i], 
input[type="file" i]::-webkit-file-upload-button, button {
    border: 0px;
}

/* Text Fields */

#product_description {
    width: 400px;
    height: 150px;
}

#product_name,
#product_image_url,
#product_colour {
    width: 400px;
}

/* Bike Product Presentations */


.editProduct {
    float: right;

}

.bikeProduct {
    border: 1px solid lightgrey;
}

.bikeImage {
    height: 150px;
    padding-top: 10px;
}

.pricetag {
    font-size: 2em;
    text-align: right;
    color: #4dde44;
}

.bikeProduct .img-responsive {
    height: 130px;
    margin: 0 auto;
}

.bikeProduct p {
    margin: 0px 15px;
}


.productDescription {
    height: 50px;
    text-align: center;
}

.productAttributes {
    padding-bottom: 15px;
    border-top: 1px solid lightgrey;
    background-color: #f8f8f8;
}

.bikeProduct:hover {
    border: 3px solid #4dde44;
}

#productName {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bikeWrapper {
    height: 306px;
    margin-bottom: 15px;
}

a :hover,
a :active,
a :focus,
a :visited {
    text-decoration: none;
    color: grey;
}

a .pricetag :hover,
a .pricetag :active,
a .pricetag :focus,
a .pricetag :visited {
    color: #4dde44;
}

/* Show Product */

.showImage,
.showDescription {
    margin: 0 auto;
}

.showDescription {
    border: 2px dotted lightgrey;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 13px;
    height: 312px;
}

.nextProduct {
    display: inline-block;
    float: right;
}

.previousProduct {
    display: inline-block;
    float: left;
}

.clearing {
    clear: both;
}

.bestrating,
.worstrating {
    display: inline;
    font-size: 1.3em;
    background-color: #f5f5f5;
    height: 50px;
    border-left: 5px #4dde44 solid;
    height: 60px;
    width: 400px;
    padding: 15px;
}

.glyphicon-thumbs-up,
.glyphicon-thumbs-down {
    font-size: 2em;
    color: grey;
}

.worstrating {
}


.bestworstrating {
    width: 80%;
    margin: 0 auto;
    padding: 10px;

}

.bestworstrating p {
    margin: 5px;
}

.averageRating {
    display: inline;
}

.ratingindex{
    padding-left: 30px;
}

.buynow {
    float: right;
}


