// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Table */

td, th {
	padding: 25px;
}

/* Specific Rules */

.newProduct {
	padding-top: 40px;
}

.newProduct p {
    margin-left: 0px;
}

.contentProducts {
	text-align: center;
}

/* Buttons */

.btn-default {
    color: #fff;
    background-color: #4dde44;
    width: 150px;
    height: 35px;
    border-radius: 5px;
}

.btn-default.focus, 
.btn-default:focus,
.btn-default:hover {
    color: #fff;
    background-color: #1f8019;
}


input[type="button" i], 
input[type="submit" i], 
input[type="reset" i], 
input[type="file" i]::-webkit-file-upload-button, button {
	border: 0px;
}

/* Text Fields */

#product_description {
    width: 400px;
    height: 150px;
}

#product_name,
#product_image_url,
#product_colour {
    width: 400px;
}

/* Bike Product Presentations */

.bikeProduct {
    border: 1px solid lightgrey;
    margin-bottom: 15px;
}

.bikeImage {
    height: 150px;
    padding-top: 5px;
}

.pricetag {
    font-size: 2em;
    text-align: right;
    color: #4dde44;
}


.bikeProduct .img-responsive {
    height: 130px;
    margin: 0 auto;
}

.bikeProduct p {
    margin: 0px 15px;
}


.productDescription {
    height: 50px;
    text-align: center;
}

.productDescription p a {
    color: grey;
}

.productAttributes {
    padding-bottom: 15px;
    border-top: 1px solid lightgrey;
    background-color: #f8f8f8;
}

.bikeProduct:hover {
    border: 3px solid #4dde44;
}

#productName {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.col-md-4 .bikeProduct{
    height: 306px;
    
}

