.edit {
	
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;

}

.edit input[type="email"],
.edit input[type="password"],
.edit input[type="submit"] {
	
	width: 100%;
	height: 35px;
	padding: 10px;

}

.edit input[type="email"]{
	margin-bottom: -1px;	
}
