<% if signed_in? %>

  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
  <br>

    <p>Your Rating:
      <div class="rating"></div>
    </p>  
    <p>
      <%= f.text_area :body, class: "form-control", rows: "5", placeholder: "Your comment ... How did you find the product? What do you like? What don't you like?" %>     
    </p>
    
    <p>
      <%= f.submit "Submit" %>
    </p>
  <% end %>
<% end %>