<div class="container">

	<%= link_to 'Back to Products', products_path %>
	<h1>Editing Product</h1>

	<div class="contentProducts">

		<p>Made a mistake? No worry - You can make changes here:</p>

		<%= render 'form', product: @product %>

		<%= link_to 'Back', @product %>
	</div>

</div>
