<div class="container">

	<h1>Editing Product</h1>

	<div class="contentProducts">

		<p>Made a mistake? No worry - You can make changes here:</p>

		<%= render 'form', product: @product %>

		<%= link_to 'Show', @product %> |
		<%= link_to 'Back', products_path %>
	</div>

</div>
