
<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Products</h1>

  <p>Find your new bike here! We have currently <%= @products.length %> bikes in our store.</p>

<div class="container-fluid">
  <div class="row">
    <%= render @products %>
  </div>
</div>

  <br>

  <div class="newProduct">
    <p>Do you want to sell your bike?</p>
    <%= link_to 'New Product', new_product_path %>
  </div>



</div>

