<div class="container">
	<%= link_to 'Back', products_path %>
	
	<h1>New Product</h1>

	<div class="contentProducts">

		<p>Do you want to sell your bike? Just give us a few information about it!</p>

		<%= render 'form', product: @product %>

	</div>
</div>
